/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 50%;
  /overflow: hidden;
  width: 100%;
  height: 100vh;
}
body{
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;
  background-color: rgb(25,25,25);
}

a{
  color: #0ddb1b;
}

/*Scrollbar*/
::-webkit-scrollbar{
  width: 12px;
}

::-moz-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, #0ddb1b);
  border-radius: 16px;
}

::-moz-scrollbar-thumb{
  background: linear-gradient(transparent, #0ddb1b);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(#0ddb89, #0ddb1b);
}

::-moz-scrollbar-thumb:hover{
  background: linear-gradient(#0ddb89, #0ddb1b);
}
/*Scrollbar*/

/*Loader*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0ddb89;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0ddb1b;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0ddb89;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

@media only screen and (max-width: 600px) {
  #loader{
    left: 53%;
    top: 50%;
    width: 125px;
    height: 125px;
  }
}

/*Loader*/

/*Header*/
header{
  text-align: center;
  padding-bottom: 80px;
  margin-bottom: auto;
  height: 100%;
}
header p{
padding-top: 100px;
}

.arrow {
  border: solid white;
  border-width: 0 0 1px 1px;
  display: inline-block;
  padding: 20px;
  animation: float 4s infinite;
  transform: translate(-45deg);
}

@keyframes float {
  0%,100%{
    transform: rotate(-45deg)translate(-60px,60px);
  }
  50%{
    border: solid #0ddb1b;
    border-width: 0 0 1px 1px;
    display: inline-block;
    transform: rotate(-45deg)translate(-80px,80px);
  }
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.scroll{

}

.line-1{
    position: relative;
    top: 50%;
    width: 8em;
    margin: 0 auto;
    margin-top: 2.5em;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 6em;
    letter-spacing: 0.2em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(8) 1s 1 normal both,
             blinkTextCursor 2000ms steps(8) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #0ddb1b;}
  to{border-right-color: transparent;}
}

@media only screen and (max-width: 600px) {
  header{
    height: 100%;
  }
  .line-1{
    position: relative;
    margin-top:60%;
    font-size: 2.5em;
    letter-spacing: 0.1em;
  }

  .arrow,.down{
    margin-top: 23%;
  }
  .anim-typewriter{
    animation: typewriter 4s steps(8) 1s 1 normal both,
               blinkTextCursor 2000ms steps(8) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 7em;}
  }
}
/*Header*/

/*Menu*/
.menuIcon{
    width: 40px;
    height: 45px;
    padding: 5px 0 0 0;
    position: fixed;
    right: 50px;
    top: 50px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    z-index: 9999;
}
.open .line1,.line2,.line5{
    width: 40px;
    height: 2px;
    display: block;
    background-color: #fff;
    position: relative;
}
.open .line2{
    width: 20px;
    margin-top: 5px;
    right: -15px;
}
.open .line5{
    width: 15px;
    margin-top: 5px;
    right: -20px;
}
@-webkit-keyframes a1{
    from{right: 50px;}
    to{right: 0px;}
}
.menuIcon:hover .open .line1{
    animation: a1 .6s;
    background-color: #0ddb1b;
}
@-webkit-keyframes a2{
    from{right: -30px;}
    to{right: -15px;}
}
.menuIcon:hover .open .line2{
    animation: a2 .6s;
    background-color: #0ddb1b;
}
@-webkit-keyframes a5{
    from{right: 50px;}
    to{right: -20px;}
}
.menuIcon:hover .open .line5{
    animation: a5 .6s;
    background-color: #0ddb1b;
}
.close{
    margin-top: 20px;
    display: none;
}
.close .line3,.line4{
    width: 30px;
    height: 2px;
    display: block;
    background-color: #CA2052;
    position: relative;
    margin-top: -5px;
    transform: rotate(45deg);
}
.close .line4{
    margin-top: -2px;
    transform: rotate(-45deg);
}
@-webkit-keyframes a3{
    from{
        width: 0px;
    }
    to{
        width: 30px;
    }
}
.menuIcon:hover .close .line3{
    animation: a3 .6s;
}
.menuIcon:hover .close .line4{
    animation: a3 .6s;
}
.main{
    width: 100%;
    height: 100vh;
    text-align: left;
    background: #1b1c1b;
    /background-image: linear-gradient(to right, transparent, #222422, #1b1c1b);
    position: fixed;
    top:0px;
    right: 0px;
    z-index: 999;
    display: none;
}
.menu{
    width: 300px;
    position: relative;
    top:50%;
    left: 80%;
    transform: translate(-50%,-50%);
    text-align: left;
    z-index: 999;
}
.menuItem{
    display: block;
    font-family: monospace;
    font-size: 50px;
    color:white;
    font-weight: 600;
    letter-spacing: 10px;
    text-align: left;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}
.menuItem:before,.menuItem:after{
    content: attr(data);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    background-color: #1b1c1b;
    color: white;
    overflow: hidden;
}
.menuItem:hover:before{
    left: 8px;
    background-color: #4e3273;
    animation: effect 3s infinite linear;
}
.menuItem:hover:after{
    left: 4px;
    background-color: #4e3273;
    animation: effect 2s infinite linear;
}
@-webkit-keyframes effect{
    0%{clip:rect(55px,9999px,56px,0);}
    5%{clip:rect(47px,9999px,30px,0);}
    10%{clip:rect(33px,9999px,36px,0);}
    15%{clip:rect(35px,9999px,9px,0);}
    20%{clip:rect(63px,9999px,59px,0);}
    25%{clip:rect(96px,9999px,98px,0);}
    30%{clip:rect(48px,9999px,77px,0);}
    35%{clip:rect(50px,9999px,34px,0);}
    40%{clip:rect(60px,9999px,72px,0);}
    45%{clip:rect(10px,9999px,81px,0);}
    50%{clip:rect(2px,9999px,60px,0);}
    55%{clip:rect(23px,9999px,89px,0);}
    60%{clip:rect(76px,9999px,91px,0);}
    65%{clip:rect(62px,9999px,30px,0);}
    70%{clip:rect(60px,9999px,73px,0);}
    75%{clip:rect(60px,9999px,87px,0);}
    80%{clip:rect(2px,9999px,14px,0);}
    85%{clip:rect(28px,9999px,87px,0);}
    90%{clip:rect(73px,9999px,50px,0);}
    95%{clip:rect(79px,9999px,70px,0);}
    100%{clip:rect(17px,9999px,79px,0);}
}

@media only screen and (max-width: 600px) {
  .main, .menu {
    width: 70%;
  }

  .menuIcon{
    right: 30px;
    top: 30px;
  }

  .menuItem{
      display: block;
      font-family: monospace;
      font-size: 18px;
      color: #fff;
      font-weight: 300;
      letter-spacing: 5px;
      text-align: left;
      margin-bottom: 30px;
      padding-right: 100px;
      position: relative;
      cursor: pointer;
  }
}

/*Menu*/

/*About*/
#header {
  background-color: rgb(25,25,25);
  position: absolute;
  top: 0;
  width: 99%;
  transition: 1.5s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 1.0);
  z-index:9;
}
#back{
  background: linear-gradient(to bottom right, #0ddb1b,#0ddb89);
  text-align:center;
  font-weight: bold;
  padding: 20px;
  padding-bottom: 10%;
  width: 50%;
  float: right;
  margin-left: 15%;
  margin-top:8%;
  margin-bottom: 200px;
  overflow: hidden;
}

/*media queries for small devices*/

@media only screen and (max-width: 600px) {
  #header {
    width: 100%;
    /height: 90%;
  }
  #back{
    background: linear-gradient(to bottom right,#0ddb89, #0ddb1b);
    text-align:center;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 10%;
    width: 50%;
    height: 70%;
    float: right;
    margin-left: 15%;
    margin-top:43%;
    margin-bottom: 200px;
  }
}
/*About*/

/*Expertise*/
#expertise{
  text-align: center;
  margin-bottom: 20%;
}

#expertise h1{
  padding-top: 5%;
  text-decoration: underline;
}


i.fa {
  color: #fff;
  margin: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/*clearfixes*/

.expertise {
  position: relative;
  padding: 25px;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-top: 15%;
  text-align: center;
  text-decoration: underline;
}

.expertise:last-of-type {
  padding-top: 0px;
}
/*animation element*/

.animation-element {
  position: relative;
  width: 30%;
  margin: 0% 1.33% 2.66% 1.33%;
  float: left;
}
/*3 grid layout*/

.animation-element:nth-of-type(3n-2) {
  width: 31.5%;
  margin: 0% 1.375% 2.75% 0%;
  clear: left;
}

.animation-element:nth-of-type(3n-1) {
  width: 31.5%;
  margin: 0% 1.375% 2.75% 1.375%;
}

.animation-element:nth-of-type(3n-0) {
  width: 31.5%;
  margin: 0% 0% 2.75% 1.375%;
  clear: right;
}
/*bounce up animation for the subject*/

.bounce-up .subject {
  opacity: 0;
  -moz-transition: all 1500ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 1500ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.subject {
  float: left;
  width: 100%;
  margin: 0% 1.33% 2.66% 1.33%;
  padding: 50px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.subject:hover,
.subject:active {
  box-shadow: 0px 4px 13px 0px #0ddb1b;
}

/*subject icon at top*/

.subject .icon {
  position: absolute;
  top: -20px;
  left: 50%;
  left: calc(50% - 45px);
  padding: 14px;
}

.subject .icon i {
  width: 40px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 150%;
  border-radius: 50%;
  text-align: center;
}

.subject .icon i {
  border: 1px solid #0ddb1b;
  padding: 5px;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0%{
    transform: rotateY(0deg) rotateX(0deg);
  }

  50%{
    transform: rotateY(360deg) rotateX(15deg);
  }

  100%{
    transform: rotateY(0deg) rotateX(0deg);
    background-position: 0;
  }
}
/*hovering over subject*/
.expertise .content {
  margin-bottom: 50px;
}

/*media queries for small devices*/

@media only screen and (max-width: 620px) {
  .main-container {
    margin: 20px 15px;
  }
  .animation-element,
  .animation-element:nth-of-type(3n-1),
  .animation-element:nth-of-type(3n-2),
  .animation-element:nth-of-type(3n-0) {
    width: 100%;
    margin: 0px 0px 30px 0px;
  }
  .subject .header .date,
  .subject .header .category {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .expertise h1{
    margin-top: 650px;
  }
}
/*Expertise*/

/*Portfolio*/
.p_img{
  padding: 0;
  margin: 0;
  border-radius: 10px;
  transform: scale(1.5);
}
#portfolio{
  text-align: center;
  margin-bottom: 20%;
}

#portfolio h1{
  padding-top: 10%;
  text-decoration: underline;
}

i.fa {
  color: #fff;
  margin: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/*clearfixes*/

.portfolio {
  position: relative;
  padding: 25px;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-top: 15%;
  text-align: center;
  text-decoration: underline;
}

.portfolio:last-of-type {
  padding-top: 0px;
}
/*animation element*/

.animation-p {
  position: relative;
  width: 50%;
  height: 50%;
  margin: 0% 2.66% 5.32% 2.66%;
  float: left;
}
/*2 grid layout*/
.animation-p:nth-of-type(3n-6) {
  width: 47.25%;
  margin: 0% 0.6875% 4.125% 2.0625%;
  float: left;
}

.animation-p:nth-of-type(3n-5) {
  width: 47.25%;
  margin: 0% 0.6875% 4.125% 2.0625%;
  float: left;
}

.animation-p:nth-of-type(3n-4) {
  width: 47.25%;
  margin: 0% 0.6875% 4.125% 2.0625%;
  float: left;
}

.animation-p:nth-of-type(3n-3) {
  width: 47.25%;
  margin: 0% 0.6875% 4.125% 2.0625%;
  float: left;
}

.animation-p:nth-of-type(3n-2) {
  width: 47.25%;
  margin: 0% 0.6875% 4.125% 2.0625%;
  float: left;
}

.animation-p:nth-of-type(3n-1) {
  width: 47.25%;
  margin: 0% 0.6875% 4.125% 2.0625%;
  float: left;
}

.animation-p:nth-of-type(3n-0) {
  width: 47.25%;
  margin: 0% 0.6875% 4.125% 2.0625%;
  float: left;
}

/*bounce up animation for the subject*/

.bounce-up2 .port {
  opacity: 0;
  -moz-transition: all 1500ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 1500ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up2.in-view2 .port {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.port {
  float: left;
  width: 100%;
  padding: 10vw 20vw;
  height: 400px;
  border-radius: 20px;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
}

#p1{
  background-image: url(../img/img13.png);

}

#p2{
  background-image: url(../img/img8.png);

}

#p3{
  background-image: url(../img/img10.png);

}

#p4{
  background-image: url(../img/img5.png);

}

#p5{
  background-image: url(../img/img7.png);

}

#p6{
  background-image: url(../img/img12.png);

}

.port:hover,
.port:active {
  /box-shadow: 0px 4px 13px 0px #0ddb1b;
  /transition: .5s ease;
}
/*hovering over subject*/
.ports .title {
  margin: 7px 0px;
  border-bottom: dashed 1px #ccc;
  padding-bottom: 10px;
}

.port a img{
  opacity: 0;
  width: 30px;
  height:30px;
  margin-right: 30px;
  margin-top: 20px;
  /transform: translate(280px,-150px);
}

#i2{
  /transform: translate(280px,-180px);
}

.port .content {
  color: #0ddb1b;
}

.overlay{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  transition: .5s ease;
  background-image: linear-gradient(to bottom, transparent, #000);
}

.content-o{
    position: absolute;
    top: 80%;
    left: 25%;
    width: 300px;
    height: 150px;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
}

.port:hover .overlay{
  opacity: 0.5;
}

.port:hover .content-o{
  opacity: 1;
  z-index: 99;
}

/*media queries for small devices*/

@media only screen and (max-width: 600px) {

  .animation-p,
  .animation-p:nth-of-type(3n-6),
  .animation-p:nth-of-type(3n-5),
  .animation-p:nth-of-type(3n-4),
  .animation-p:nth-of-type(3n-3),
  .animation-p:nth-of-type(3n-2),
  .animation-p:nth-of-type(3n-1),
  .animation-p:nth-of-type(3n-0) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #portfolio h1{
    top:15em;
  }
  .port{
    text-align: center;
    height: 500px;
    margin-bottom: 15%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /background-position: left 75%;
  }
  #p1{
    background-image: url(../img/mimg8.png);

  }

  #p2{
    background-image: url(../img/mimg3.png);

  }

  #p3{
    background-image: url(../img/mimg13.png);

  }

  #p4{
    background-image: url(../img/mimg5.png);

  }

  #p5{
    background-image: url(../img/mimg7.png);

  }

  #p6{
    background-image: url(../img/mimg6.png);

  }
  .overlay{
    top: 0;
    right: 0;
    height: 500px;
    width: 100%;
    border-radius: 20px;
    transition: .5s ease;
    background-image: linear-gradient(to bottom, transparent, #000);
  }

  .content-o{
      position: absolute;
      top: 80%;
      left: 0;
      width: 300px;
      height: 150px;
      color: #fff;
      font-size: 0.8em;
      text-align: center;
  }

  .port:hover .overlay{
    opacity: 0.5;
  }
}
/*Portfolio*/

/*Footer Start*/
.footer-wrapper{
  padding: 0;
  width: 100%;
}

.single-footer{
  width: 33%;
  float: left;
  padding: 15px;
  text-align: left;
}

.single-footer #logo{
   height:50px;
   width:50px;
  border-radius: 50%;
}

.single-footer ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.single-footer ul a{
  text-transform: uppercase;
  text-decoration: none;
  color: #16dec3;
  font-size: 12px;
}

.single-footer p{
  width: 70%;
}

footer{
  margin-top: 80%;
  padding: 10px;
  width: 99%;
  height: 250px;
  position: absolute;
  z-index: 1;
  text-align: center;
  color: #16dec3;
}

@media only screen and (max-width: 600px) {
  footer {
    /position: absolute;
    margin-top: 3300px;
    width: 100%;
    height: 500px;
  }
  .footer-wrapper{
    padding: 0;
    width: 100%;
  }
  .single-footer{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
  }
  .single-footer p{
    width: 50%;
  }
}
/*Footer End*/
